
/* ICONS */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/materialize/icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* HTML, BODY */

html, body {
  width: 420px;
  box-sizing: border-box;
  overflow: hidden;
}

/* NAV */

nav {
  background: white;
}

nav .nav-wrapper {
  margin: 0 auto 15px;
  padding-top: 10px;
}

nav .nav-wrapper .brand-logo {
  outline: none;
  cursor: default;
}

nav .nav-wrapper .brand-logo img {
  height: 50px;
}

/* FORM */

section {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  margin: .5rem auto;
}

section #tipp-register,
section #tipp-login {
  width: 100%;
  height: 350px;
  margin: 1rem auto 2.5rem;
  padding: 1rem;
  position: relative;
}

.form-page {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform .3s ease-out, opacity .3s ease-out;
}

form .field-group {
  padding: 1.5rem;
  margin: 1rem 0 2rem;
}

#tipp-register .form-page-2 {
  -webkit-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
  visibility: hidden;
}

#forgot-passphrase-btn {
  font-weight: 500;
  font-size: .8rem;
}

#passphrase-reset-modal .modal-content {
  padding-bottom: 0;
}

#passphrase-reset-modal form {
  width: 100%;
  margin-top: 2rem;
}

#passphrase-reset-modal p {
  margin-top: -1rem;
}

/* spacing between form fields */
form .input-field {
  margin-top: 5px;
}

/* label focus color */
form .input-field input:focus + label {
 color: #4CAF50 !important;
}

/* label underline focus color */
form .input-field input:focus {
 border-bottom: 1px solid #4CAF50 !important;
 box-shadow: 0 1px 0 0 #4CAF50 !important;
}

/* valid color */
form .input-field input.valid {
 border-bottom: 1px solid #4CAF50 !important;
 box-shadow: 0 1px 0 0 #4CAF50 !important;
}

/* icon prefix focus color */
form .input-field .prefix.active {
 color: #4CAF50 !important;
}

/* form errors */
form .validation-error {
  color: red;
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: .9rem;
}

/* LOADING SCREEN */

.tipp-preloader-modal {
  position: fixed !important;
  z-index: 9999 !important;
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 45% 30px;
  margin: 0;
  background: rgba(0, 0, 0, .8);
}

.tipp-preloader-modal .header {
  color: white;
  margin: 0 auto;
}

.tipp-preloader-modal .tipp-preloader {
  display: block;
  margin: 1.5rem auto;
}
